/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1 {
  font-size: calc(1em + 1vw);
  text-align: center;

}

body {
  color: black;
  background-color: black;
}

header {
  font-size: calc(1.25em + 1vw);
  text-align: center;
  color: yellow;
  background-color: black;

}

main {
  font-size: calc(.75em + 1vw);
  text-align: center;
  color: yellow;
  background-color: black;

}

p {
  font-size: calc(.75em + 1vw);
  color: yellow;
  background-color: black;
}


div {
  
  margin-bottom: 14px;
}

